@import url('bootstrap/bootstrap.less');
@import url('kube/kube.less');
@import url('less/custom-mixins.import.less');
@import url('less/less-media-queries.less');

// @import url('less/bootstrap-responsive.min.less');
// @import url('less/bootstrap.min.less');

/* =============================================================================
   Imports
   ========================================================================== */
// @import url('jvfloat.less');
// @import url('slick.less');
// @import url('fa/font-awesome.less');
// @import url('icomoon.less');

/* =============================================================================
   Layout Code
   ========================================================================== */
/*
 * Authors: John Gibby @thatgibbyguy || Quinton Jason @quintonjasonjr
 *
 * --------------
 *
 * Based on Kube
 * Detailed information about this CSS: http://imperavi.com/kube/
 *


/* Fonts ===================================================================== */
@industry: 'industry',sans-serif;

.industry{
	font-family: @industry;
}

/* ==|== CSS Styles, IDs & Elements ===================================================== */
.container-fluid{
	height: 100vh;
}

#left-column{
	background-color: @main-blue;
	img{
		width: 50%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		margin: 0 auto;
	}
}

h2.industry{
	font-size: 2em;
}


#right-column{
	background:url('img/concrete_seamless.png');
	display: block;
	.welcome{
		width: 60%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		margin: 0 auto;
		text-align: center;
		color: @main-blue;
		letter-spacing: 0.02em;
		.btn{
			background-color: white;
			font-size: 1.15em;
			padding: 0.75em 2em;
			box-shadow: 0px 0px 9px .3px #b2b2b2;
			text-align: left;
			margin-bottom: 1em;
		}
		span{
			display: inline-block;
			position: relative;
			top: 1px;
			padding-left: 10px;
		}
	}
}

.resources-list{
	margin: 0;
	list-style: none;

	a{
		display: block;
		margin-bottom: .75em;

		&:hover{
			text-decoration: none;
		}
		&:hover span{
			color: lighten(@main-gray, 10%);
		}
		&:hover i{
			color: lighten(@main-gold, 10%);
		}
	}
	i{
		color: @main-gold;
	}
	span{
		.industry;
		.trans;
		font-size: 1.15em;
		color: @main-gray;
	}
}

/* ==|== Custom LESS Variables ===================================================== */

@main-blue: #314b97;
@main-gray: #666666;
@main-gold: #deb444;

.blue{
	color: @main-blue;
}
.dark-gray{
	color: @main-gray;
}
.icon-gold{
	color: @main-gold;
}


/* ==|== Custom LESS Helpers ===================================================== */

.headlines{font-weight: 700; font-style: normal;  }
.subhead{  }
.bodycopy{  }
.block{display: block;}
.no-margin{ margin: 0; }
.no-padding{ padding: 0; }
.upper{ text-transform: uppercase; }
.centered{ text-align: center; }
.italic{ font-style: italic; }
.no-bull{ list-style: none; }
.show{ display: block; }
.hide{ display: none; }
.height{height: 100%;}
.mobile-height-auto{
	@media @genericMobile{
		height: auto !important;
	}
}
.un-vert-center{
	@media @genericMobile{
		top: 0%;
		transform: translateY(0%);
	}
}

/* ==|== Responsive Styles ===================================================== */

@media @largeScreenOne{
}

@media @largeScreenTwo{	
}

@media @largeScreenThree{	
}

@media @bpFour{
	#right-column .welcome{
		width: 70%;
	}
}

//905px
@media @bpFive{
	#right-column .welcome{
		width: 85%;
	}
}

//define the media queries in the media queries file
@media only screen and (max-width: 942px) {
	#right-column{
		.welcome{
			.btn{
				width: 225px;  //don't set hard pixel values
				padding-left: 15px;
				margin: 0 auto;
				width: 100%;
				margin-bottom: 1em;
			}
		}
	}

}

//define the media queries in the media queries file
@media only screen and (max-width: 320px) {
	#right-column{
		.welcome{
			.btn{
				width: 215px; //don't set hard pixel values
				padding-left: 15px;
				width: auto;

			}
		}
	}

}

@media @bpSix{
	#right-column .welcome{
		width: 90%;
	}
}

@media @genericMobile{
	// .height{
	// 	height: 70%;
	// }
	#left-column img{
		top: 0%;
		transform: translateY(0%);
		padding: 2em 0;
		width: 200px;
		height: auto;
	}
	#right-column{
		overflow: scroll;
	}
	#right-column .welcome{
		top: 0%;
		transform: translateY(0%);
		padding: 2em 0;
		width: 55%;
	}
}
// landscape mobile
@media @landscape { 
	.height{
		height: 80%;
	}
}

@media @genericPhablet{
	#right-column .welcome{
		top: 0%;
		transform: translateY(0%);
		padding: 2em 0;
		width: 85%;
	}
}

@media @genericPhone{ 
	#right-column .welcome .btn{
		font-size: .85em;
	}
	.resources-list span{
		font-size: .85em;
	}
}

