/* =============================================
   LESS Media Queries
   compiled by John Gibby - @thatgibbyguy
   with help from Sydney Stevens - @sstev23
   ============================================= */
	@largeScreenOne: ~"only screen and (min-width:1400px)";
	@largeScreenTwo: ~"only screen and (min-width:1660px)";
	@largeScreenThree: ~"only screen and (min-width:1900px)";

	@bpOne: ~"only screen and (max-width:1110px)";
	@bpTwo: ~"only screen and (max-width:1024px)";
	@bpThree: ~"only screen and (max-width:960px)";
	@bpFour: ~"only screen and (max-width:1260px)";
	@bpFive: ~"only screen and (max-width:1005px)";
	@bpSix: ~"only screen and (max-width:768px)";

	@genericMobile: ~"only screen and (max-width:767px)";
	@genericPhablet: ~"only screen and (max-width:650px)";
	@genericPhone: ~"only screen and (max-width:480px)";

	@landscape: ~"(max-width: 767px) and (orientation: landscape)";

	@ipad: ~"only screen and and (min-device-width : 768px) and (max-device-width : 1024px)";
	@ipadLandscape: ~"only screen and and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
	@ipadPortrait: ~"only screen and and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)"; 
	@ipadRetina: ~"only screen and and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)"; 

	@iphoneFive: ~"only screen and (min-device-width : 320px) and (max-device-width : 568px)";
	@iphone: ~"only screen and (min-device-width : 320px) and (max-device-width : 480px)";
	@iphoneRetina: ~"only screen and (min-device-width : 320px) and (max-device-width : 480px) and (-webkit-min-device-pixel-ratio: 2)";
	@iphoneLandscape: ~"only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape)";
	@iphonePortrait: ~"and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait)";

	@kindleFire: ~"only screen and (min-device-width : 526px) and (max-device-width : 950px)";
	@kindleFirePortrait: ~"only screen and (min-device-width : 526px) and (max-device-width : 950px)";
	@kindleFireLandscape: ~"only screen and (min-device-width : 526px) and (max-device-width : 950px)";
	
	@galaxyNexus: ~"only screen and (min-device-width : 360px) and (max-device-width : 519px)";
	@galaxyNexusPortrait: ~"only screen and (min-device-width : 360px) and (max-device-width : 519px)";
	@galaxyNexusLandscpe: ~"only screen and (min-device-width : 360px) and (max-device-width : 519px)";
	@galaxyNexus7: ~"only screen and (min-device-width : 601px) and (max-device-width : 880px)";
	@galaxyNexus7Portrait: ~"only screen and (min-device-width : 601px) and (max-device-width : 880px)";
	@galaxyNexus7Landscape: ~"only screen and (min-device-width : 601px) and (max-device-width : 880px)";
	
	@galaxyNote2: ~"only screen and (min-device-width : 720px) and (max-device-width : 1280px)";
	@galaxyNote2Portrait: ~"only screen and (min-device-width : 720px) and (max-device-width : 1280px)";
	@galaxyNote2Landscape: ~"only screen and (min-device-width : 720px) and (max-device-width : 1280px)";
	